@model List<Reservation>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Lista rezerwacji</h1>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Owner)
            </th>
        </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    @item.Room
                </td>
                <td>
                    @item.Owner
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="Reservation" asp-action="Update" asp-route-id=@item.Id>Edycja</a>
                    <a class="btn btn-outline-info" asp-controller="Reservation" asp-action="Details" asp-route-id=@item.Id>Szczegóły</a>
                    <a class="btn btn-outline-danger" asp-controller="Reservation" asp-action="Delete" asp-route-id=@item.Id>Usuń</a>
                </td>
            </tr>
        }
    </table>
</div>